.aurora-widget .special-title {
  display: flex;
  align-items: center;
  gap: 10px;

  white-space: nowrap;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .mobile-aurora .special-meta {
    white-space: nowrap;
  }

  .mobile-aurora .special-meta span {
    white-space: nowrap;
    word-break: keep-all;
  }
}

@media (max-width: 768px) {
  .mobile-aurora .special-meta span {
    font-size: 12px;
  }
}